
html{
    text-align: center;
    background-color: aquamarine;
 }
 
 h1{
    background-color: brown;
    padding: 30px;
    color: azure;
    width: 1800px;
    font-size: 90px;
 
 }
 body{
     
     text-align: center;
      font-size: larger;
   
 }
 